body{
    font-size: 20px;
    background-image: -webkit-linear-gradient(#2a96f5,#c8def1 )
}

.generalInfo {    /* refers to the body*/
    font-size: larger;
    margin: 100px;
    /* Chrome 10+, Safari 5.1+ */
   /* background-image: -webkit-linear-gradient(#66b2f4,#b1d6f7)*/
   /*background: rgb(106,100,215);
   background: linear-gradient(90deg, rgba(106,100,215,1) 0%, rgba(101,101,181,1) 40%, rgba(158,180,214,1) 100%);*/
   background: rgb(150,176,238);
    background: linear-gradient(90deg, rgba(150,176,238,1) 0%, rgba(145,168,214,1) 40%, rgba(192,204,223,1) 100%);
}
.sticky-top{
    position: sticky
}
h1 {
    font-size: 2.5rem;
    text-align: center;
    color: darkblue;
}


.jumbotron {
    background-color: lightgray;/* lightslategray;*/
    
    /*background: url('images/raphael-andres-Ym7NVRKgmJc-unsplash.jpg')*/  
}
.resize {
    height: 400px;
}

img{
   width: 100%;
    height: 20%;
}
li {
    display: inline;
    font-size: 1.0rem;
}
.navigation{
    width: 100%;
    background-color: darkblue;
}
a{
    color:goldenrod;
    padding-right: 35px;
    font-size: 1.5rem;
}
/*
img.align-left-large {
    float: left;
    margin-right: 10px;
}*/

.photos{
    margin-left: 20px;
}

.lawyerspics{
    width: 300px;
    height: 300px;
}

.lawAreaHeader{
    margin-top: 5rem;   
    margin-left: 4rem; 

}
.basicInfo{
    font-size: 1.25rem;
    margin-top: 5rem;
    margin-left: 4rem;
    margin-right: 8rem;
      
}
.attorneyInfoDarryl{
    margin-right: 10rem;
    margin-top: 7rem;
    margin-right: 10rem;
    font-size: 1.25rem;
}
.attorneyInfoMike{
    margin-left: 10rem;
    margin-top: 7rem;
    margin-right: 5rem;
    font-size: 1.25rem;
}
.email{
    font-size: 1.0rem;
}
footer{
    background-color: lightslategray;
}
a.email{
    /*color: rgb(49, 51, 184);*/
    color: blue;
    
}
#footer{
    margin-left: 5rem;
}
/*
.index{
    text-align: center;
}*/
